{{- $serviceName := include "fullname" . -}}
{{- $servicePort := .Values.service.externalPort -}}
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ template "fullname" . }}
  labels:
    app: {{ template "name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
  annotations:
    {{- range $key, $value := .Values.ingress.annotations }}
      {{ $key }}: {{ $value | quote }}
    {{- end }}
      kubernetes.io/ingress.global-static-ip-name: {{ required "Static IP is missing" .Values.ingress.globalStaticIpName }}

spec:
  rules:
    {{- range $host :=  required "Missing .Values.ingress.hosts" .Values.ingress.hosts }}
    - host: {{ $host }}
      http:
        paths:
          - path: /*
            backend:
              serviceName: {{ $serviceName }}
              servicePort: {{ $servicePort }}
    {{- end }}
  tls:
    - secretName: "{{ template "fullname" . }}-tls"
      hosts:
      {{- range $host :=  required "Missing .Values.ingress.hosts" .Values.ingress.hosts }}
        - {{ $host }}
      {{- end }}
