<style type="text/css">
    a, a:visited {color: #32526A; font-weight: 600; }
    .pagination a {color: #111111;}
    .gist .gist-file .gist-meta a:visited {color: #111111 !important;}
    a:focus, a:hover {color: #32526A;}
    h1.post-title, h1.blog-title a, h1.blog-title a {
      color: #32526A;
    }

    h1.post-title a:focus, h1.post-title a:hover, h1.blog-title a:focus, h1.blog-title a:hover {
      color: #000;
    }
    .older-posts:hover, .newer-posts:hover {color: #32526A;}

    .post-meta .authorimage {
      zoom:.5;
    }

    .post-meta {
      text-transform: none;
    }

    .post .post-meta {
      margin-bottom: 50px;
    }

    .preview .post-meta p { margin:0; }
    .preview .post-meta .authorimage {
      display:none;
    }

    .preview .image  {
      height: 90px;
      margin: auto;
      overflow: hidden;
      background-size: cover;
      background-position: center center;
    }

    .preview .image img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
</style>
