/**
 * Shortcodes styles
 */

.centered {
    text-align: center;
    width: 100%;
}

figure > figcaption {
    text-align: center;
    margin-top: -10px;
    font-style: italic;
}

.caption-half-width > img {
    width: 50%;
}

.scroll-panel {
    overflow: auto;
    border-radius: 5px;
    width: 100%;
}

.scroll-panel pre,
.scroll-panel .gist,
.scroll-panel .gist-file {
    margin: 0 !important;
}

.scroll-panel .gist-file + .gist-file {
    margin-top: 20px !important;
}

.scroll-panel .gist .gist-data,
.scroll-panel .gist .blob-wrapper  {
    overflow: initial;
}

.grid2x {
    display: flex;
    width: 1000px;
    overflow: visible;
    margin-left: -115px;
}

.grid2x-cell {
    width: 50%;
    padding-right: 10px;
}

.grid2x-cell + .grid2x-cell {
    padding-left: 10px;
    padding-right: 0;
}

@media (max-width: 1000px) {
    .grid2x {
        width: 100%;
        margin-left: 0;
    }
}

@media all and (max-width: 768px) {
    .grid2x {
        flex-direction: column;
    }

    .grid2x-cell {
        width: 100%;
        padding: 0 !important;
    }
}

.table-no-cell-highlighting table,
.table-no-cell-highlighting thead,
.table-no-cell-highlighting th,
.table-no-cell-highlighting tr,
.table-no-cell-highlighting td {
    border: 0 !important;
    background: transparent !important;
}

.table-no-header thead {
    display: none;
}

.table-fixed-layout table {
    table-layout: fixed;
}

@media all and (max-width: 1000px) {
    .table-fixed-layout table {
        table-layout: initial;
    }
}

.table-condensed td,
.table-condensed th {
    padding: 2px !important;
}

.table-center td,
.table-center th {
    text-align: center;
}

.text-small {
    font-size: .8em;
}

.text-large {
    font-size: 1.4em;
}

@media all and (max-width: 768px) {
    .text-large {
        font-size: 1.3em;
    }
}

.text-monospaced  {
    font-family: "Hack", "monaco", monospace;
}

/**
 * Highlight.JS
 */

.hljs-keyword {
    color: #C3D31B;
}

.hljs-built_in,
.hljs-params {
    color: #e66cd7;
}

.hljs-string,
.hljs-number {
    color: #3EB1D0;
}
