{{ partial "slack-form" . }}

<footer class="site-footer">
	<div class="inner">
		<section class="footer-social">
			{{ with .Site.Params.twitter }}
		    <a href="//twitter.com/{{ . }}" target="_blank" title="Twitter"><i class="fa fa-2x fa-fw fa-twitter"></i> <span class="hidden">Twitter</span></a>&nbsp;
		    {{ end }}
		    {{ with .Site.Params.github }}
		    <a href="//github.com/{{ . }}" target="_blank" title="GitHub"><i class="fa fa-2x fa-fw fa-github"></i> <span class="hidden">GitHub</span></a>&nbsp;
		    {{ end }}
		    {{ with .Site.Params.medium }}
		    <a href="//medium.com/{{ . }}" target="_blank" title="Medium"><i class="fa fa-2x fa-fw fa-medium"></i> <span class="hidden">Medium</span></a>&nbsp;
		    {{ end }}
		    {{ with .Site.Params.angellist }}
		    <a href="//angel.co/{{ . }}" target="_blank" title="Angel List"><i class="fa fa-2x fa-fw fa-angellist"></i> <span class="hidden">AngelList</span></a>&nbsp;
		    {{ end }}
		    {{ with .Site.Params.linkedin }}
		    <a href="//linkedin.com/company-beta/{{ . }}" target="_blank" title="LinkedIn"><i class="fa fa-2x fa-fw fa-linkedin"></i> <span class="hidden">LinkedIn</span></a>&nbsp;
		    {{ end }}
		</section>

		<section class="copyright">&copy; {{ now.Format "2006" }} <a href="{{ relURL "/" }}">{{ .Site.Params.name }}</a>. {{ .Site.Params.copyright | markdownify }}</section>
	</div>
</footer>

<script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
<script async type="text/x-mathjax-config">
MathJax.Hub.Config({
  TeX: { equationNumbers: { autoNumber: "AMS" } }
});
</script>
